body {
    background: #1b1b1f;
    background-image: url("./assets/images/wavy_lines.svg");
    background-size: cover;
    font-family: "Segoe UI";
    margin: 0;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 40px);
    padding: 20px 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: "Lucida Console";
    border-radius: 22px;
    background-color: #202127;
    list-style: none;
    border: 1px solid #33353d;
    margin: 0;

    span {
        border-right: 1px solid #515c67;
        font-size: 14px;
        opacity: 0.8;
        color: rgba(255, 255, 245, 0.86);

        &:first-child {
            padding-right: 15px;
        }

        &:last-child {
            padding-left: 15px;
            border: none;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 21px;
    margin-top: 10px;

    .name {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;

        .timer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 85%;

            span {
                color: #ffffff;
                font-weight: bold;
                font-size: 22px;
            }

            div {
                display: flex;
                border-radius: 20px;
                padding: 10px;
                background-color: #32363f;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    background-color: #373a41;
                }

                img {
                    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(358deg) brightness(104%) contrast(108%);
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .cycle {
        display: flex;
        align-items: center;
        gap: 7px;
        color: #ffffff;

        b {
            font-size: 17px;
        }

        div {
            display: flex;
            gap: 5px;

            span {
                border: 1px solid transparent;
                padding: 4px 8px 6px 8px;
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    border: 1px solid #b8b8b83d;
                }

                &.selected {
                    border: 1px solid #ffffff;
                }
            }
        }
    }

    /* Sets the containers height and width */
    .baseTimer {
        position: relative;
        height: 200px;
        width: 200px;

        svg {
            /* Flips the svg and makes the animation to move left-to-right */
            transform: scaleX(-1);

            /* Removes SVG styling that would hide the time label */
            .circle {
                fill: none;
                stroke: none;

                /* The SVG path that displays the timer's progress */
                .path-elapsed {
                    stroke-width: 8px;
                    stroke: grey;
                }

                .path-remaining {
                    /* Just as thick as the original ring */
                    stroke-width: 8px;

                    /* Rounds the line endings to create a seamless circle */
                    stroke-linecap: round;

                    /* Makes sure the animation starts at the top of the circle */
                    transform: rotate(90deg);
                    transform-origin: center;

                    /* One second aligns with the speed of the countdown timer */
                    transition: 1s linear all;

                    /* Allows the ring to change color when the color value updates */
                    stroke: currentColor;

                    color: rgb(4, 136, 103);
                }
            }
        }

        .timeRemaining {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: #ffffff;
            font-size: 40px;
            top: -13px;
            /* Size should match the parent container */
            width: 200px;
            height: 200px;

            &.stopped {
                opacity: 0.5;
            }
        }

        .currentCycle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: #ffffff;
            font-size: 16px;
            top: 27px;
            /* Size should match the parent container */
            width: 200px;
            height: 200px;

            &.stopped {
                opacity: 0.5;
            }
        }
    }

    .actions {
        display: flex;
        gap: 10px;

        button {
            display: flex;
            align-items: center;
            border: none;
            color: #ffffff;
            font-weight: bold;
            font-size: 16px;
            border-radius: 20px;
            padding: 10px 20px;
            background-color: #32363f;
            cursor: pointer;
            transition: all 0.2s;

            img {
                width: 16px;
                height: 16px;
                filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(358deg) brightness(104%) contrast(108%);
            }

            &:hover {
                background-color: #373a41;
            }
        }
    }
}
